<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="historia" href="/historia">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Historia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="juegos" href="/juegos">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clasificacion" href="/clasificacion" disabled="true">
      <ion-icon aria-hidden="true" name="podium"></ion-icon>
      <ion-label>Clasificación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
