ion-tab-bar {
    --background : var(--ion-color-primary);
  ion-tab-button {
    --color: var(--ion-color-bg-blue);
    --color-selected: var(--ion-color-dark-blue);
  }
}

.hidden{
  display: none !important;
}