// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #73c2fa;
    --ion-color-primary-rgb: 115,194,250;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #65abdc;
    --ion-color-primary-tint: #81c8fb;

    --ion-color-jade: #00a86b;
    --ion-color-jade-rgb: 0,168,107;
    --ion-color-jade-contrast: #000000;
    --ion-color-jade-contrast-rgb: 0,0,0;
    --ion-color-jade-shade: #00945e;
    --ion-color-jade-tint: #1ab17a;

    --ion-color-bg-blue: #f0f8ff;
    --ion-color-bg-blue-rgb: 240,248,255;
    --ion-color-bg-blue-contrast: #000000;
    --ion-color-bg-blue-contrast-rgb: 0,0,0;
    --ion-color-bg-blue-shade: #d3dae0;
    --ion-color-bg-blue-tint: #f2f9ff;

    --ion-color-text: #292929;
    --ion-color-text-rgb: 41,41,41;
    --ion-color-text-contrast: #ffffff;
    --ion-color-text-contrast-rgb: 255,255,255;
    --ion-color-text-shade: #242424;
    --ion-color-text-tint: #3e3e3e;

    --ion-color-disabled-blue: #094e83;
    --ion-color-disabled-blue-rgb: 9,78,131;
    --ion-color-disabled-blue-contrast: #ffffff;
    --ion-color-disabled-blue-contrast-rgb: 255,255,255;
    --ion-color-disabled-blue-shade: #084573;
    --ion-color-disabled-blue-tint: #22608f;

    --ion-color-dark-blue: #092948;
    --ion-color-dark-blue-rgb: 9,41,72;
    --ion-color-dark-blue-contrast: #ffffff;
    --ion-color-dark-blue-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-shade: #08243f;
    --ion-color-dark-blue-tint: #223e5a;
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-jade {
    --ion-color-base: var(--ion-color-jade);
    --ion-color-base-rgb: var(--ion-color-jade-rgb);
    --ion-color-contrast: var(--ion-color-jade-contrast);
    --ion-color-contrast-rgb: var(--ion-color-jade-contrast-rgb);
    --ion-color-shade: var(--ion-color-jade-shade);
    --ion-color-tint: var(--ion-color-jade-tint);
}

.ion-color-bg-blue {
    --ion-color-base: var(--ion-color-bg-blue);
    --ion-color-base-rgb: var(--ion-color-bg-blue-rgb);
    --ion-color-contrast: var(--ion-color-bg-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bg-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-bg-blue-shade);
    --ion-color-tint: var(--ion-color-bg-blue-tint);
}

.ion-color-text {
	--ion-color-base: var(--ion-color-text);
	--ion-color-base-rgb: var(--ion-color-text-rgb);
	--ion-color-contrast: var(--ion-color-text-contrast);
	--ion-color-contrast-rgb: var(--ion-color-text-contrast-rgb);
	--ion-color-shade: var(--ion-color-text-shade);
	--ion-color-tint: var(--ion-color-text-tint);
}

.ion-color-disabled-blue {
	--ion-color-base: var(--ion-color-disabled-blue);
	--ion-color-base-rgb: var(--ion-color-disabled-blue-rgb);
	--ion-color-contrast: var(--ion-color-disabled-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-disabled-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-disabled-blue-shade);
	--ion-color-tint: var(--ion-color-disabled-blue-tint);
}

.ion-color-dark-blue {
	--ion-color-base: var(--ion-color-dark-blue);
	--ion-color-base-rgb: var(--ion-color-dark-blue-rgb);
	--ion-color-contrast: var(--ion-color-dark-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-dark-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-dark-blue-shade);
	--ion-color-tint: var(--ion-color-dark-blue-tint);
}